<p>Display event : {{displayEvent | json}}</p>
<div *ngIf="calendarOptions" >
  <ng-fullcalendar #ucCalendar [(options)]="calendarOptions" (select)="momentClicked($event)" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                   (eventResize)="updateEvent($event.detail)" ></ng-fullcalendar>
</div>


<!--<mat-tab-group class="demo-tab-group">

  <mat-tab *ngFor="let block of workingblocks" label="block.DayNr">
    <div class="demo-tab-content">
      <mat-form-field>
        <input matInput placeholder="start" formControlName="starttime" [ngModel]="block.StartTime| date: HH:mm">
        <input matInput placeholder="end" formControlName="endtime" [ngModel]="block.EndTime | date: HH:mm">
      </mat-form-field>
    </div>
  </mat-tab>

</mat-tab-group>-->



     <!-- <form [formGroup]="defaultWorkingblockForm" novalidate>

        <div>

            <mat-form-field>

            <div class="" *ngFor="let block of workingblocks">
              {{block.DayNr}}
                <input matInput placeholder="start" formControlName="starttime" [ngModel]="block.StartTime| date: HH:mm">
                <input matInput placeholder="end" formControlName="endtime" [ngModel]="block.EndTime | date: HH:mm">

            <label></label>
            </div>
            </mat-form-field>
        </div>

      </form>-->
