<div class="messages" *ngIf="messageService.messages.length">

  <h5>Messages</h5>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>
