

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">


    <div class="search">
    <mat-form-field>
      <input matInput placeholder="Zoek klant"  [(ngModel)]="searchText" >
      </mat-form-field>
    </div>
    <mat-list dense>
      <mat-list-item *ngFor="let client of clients | searchFilter : searchText"
                     (click)="onSelectClient(client)">{{client.FirstName}} {{client.Prefix}} {{client.LastName}}
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <p><mat-checkbox [(ngModel)]="opened">&laquo; Klanten</mat-checkbox></p>

     <!-- <app-clientdetails [client]="selectedClient"></app-clientdetails>-->
      <mat-tab-group>
        <mat-tab label="Details"><app-clientdetails [client]="selectedClient"></app-clientdetails></mat-tab>
        <mat-tab label="Geschiedenis"><app-client-history [client]="selectedClient"></app-client-history></mat-tab>
      </mat-tab-group>







    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



