

<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">


            <mat-list dense>
                <mat-list-item *ngFor="let treatment of treatments"
                    (click)="onSelectTreatment(treatment)">{{treatment.TreatmentName}}
                </mat-list-item>
            </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="main-content">
        <p><mat-checkbox [(ngModel)]="opened">&laquo; Behandelingen</mat-checkbox></p>

        <app-treatmentdetails [treatment]="selectedTreatment"></app-treatmentdetails>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



