
  <div *ngIf="!client">
    <p>Kies een klant om deze te bewerken</p>
  </div>

  <mat-card *ngIf="client">
    <form [formGroup]="clientForm" novalidate>

      <!-- <div class="form-group" >
         <label class="center-block">Welke behandeling?
           <select class="form-control" formControlName="treatmentid"  (change)="getFreeSpaces($event.target.value)">
             <option *ngFor="let state of Etreatments" [value]="state.TreatmentID">{{state.TreatmentName}}</option>
           </select>
         </label>
       </div>
   
       <div class="form-group" >
         <label class="center-block">Wanneer wil je?
           <select class="form-control" formControlName="reservationoptions" (change)="getClientData($event.target.value)">
             <option *ngFor="let option of freespaces" [value]="option.datetime">{{option.ReservationDate  | date: 'dd MM'}} {{option.StartTime}} {{option.EmployeeName}}</option>
           </select>
         </label>
         <spinner name="mySpinner" loadingImage="../../assets/mini-spinner.gif" width="32px">&nbsp;Getting options .....patience</spinner>
       </div>-->



      <!-- <div class="form-group radio">
           <h4>Super power:</h4>
           <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
           <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
           <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
       </div>
       >-->

      <mat-form-field>
        <input matInput placeholder="Voornaam" formControlName="firstname" [(ngModel)]="client.FirstName">
      </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Tussenvoegsel" formControlName="prefix" [(ngModel)]="client.Prefix">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Achternaam" formControlName="lastname" [(ngModel)]="client.LastName">
        </mat-form-field>
      <br/>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" [(ngModel)]="client.Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mobiel (SMS)" formControlName="phonenumber" [(ngModel)]="client.PhoneNumber">
          </mat-form-field>
    </form>
    <br/>
    <div [froalaEditor]="options">{{client.MemoField}}</div>
    <br/>
    <button type="submit" class="btn btn-success">Opslaan</button>
    <button type="reset" class="btn btn-success">Nieuwe klant</button>

  </mat-card>




