<div class="main-content">
<h2>Reservering</h2>


<form [formGroup]="reserveringForm" >

    <div class="form-group" >
        <label class="center-block">Welke behandeling?
            <select class="form-control" formControlName="treatmentid"  (change)="getFreeSpaces($event.target.value)">
                <option *ngFor="let state of Etreatments" [value]="state.TreatmentID">{{state.TreatmentName}}</option>
            </select>
        </label>
    </div>

    <div class="form-group" *ngIf="freespaces != null">
        <label class="center-block">Wanneer wil je?
            <select class="form-control" formControlName="reservationoptions" (change)="getClientData($event.target.value)">
                <option *ngFor="let option of freespaces " [value]="option.datetime">{{option.ReservationDate  | date: 'EEEE dd MM':'':'nl'}} {{option.StartTime}} {{option.EmployeeName}}</option>
            </select>
        </label>
       <!-- <spinner name="mySpinner" loadingImage="../../assets/mini-spinner.gif" width="32px">&nbsp;Getting options .....patience</spinner>-->

    </div>
    <div class="my-container">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    </div>



   <!-- <div class="form-group radio">
        <h4>Super power:</h4>
        <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
        <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
        <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
    </div>
    >-->
    <div *ngIf="clientData == true">
        <div class="form-group">
            <label class="center-block">Telefoonnummer:
                <input class="form-control" type="number" [ngModel]="Phone" minlength="9" maxlength="9" (ngModelChange)="getClientByPhone($event)" required pattern="[0-9]{9}" formControlName="Phone">
            </label>

            <p class="alert alert-warn" *ngIf="reserveringForm.controls['Phone'].hasError('minlength')">
                Alleen 10-cijferig telefoonnummers.
            </p>
            <p class="alert alert-warn" *ngIf="reserveringForm.controls['Phone'].hasError('maxlength')">
                Alleen 10-cijferig telefoonnummers.
            </p>
            <p class="alert alert-warn" *ngIf="reserveringForm.controls['Phone'].hasError('required') && reserveringForm.controls['Phone'].dirty">
                Telefoonnummer is verplicht,
            </p>
            <p class="alert alert-warn" *ngIf="reserveringForm.controls['Phone'].hasError('required') && reserveringForm.controls['Phone'].invalid">
                Telefoonnummer is verplicht,
            </p>
        </div>
    </div>

    <div *ngIf="!reserveringForm.controls['Phone'].pristine && reserveringForm.controls['Phone'].valid && clientData == true">
        <div class="form-group">
            <label class="center-block">Voornaam:
                <input class="form-control" [ngModel]="Firstname" formControlName="voornaam">
            </label>
        </div>

        <div class="form-group">
            <label class="center-block">Tussenvoegsel:
                <input class="form-control" [ngModel]="Prefix" formControlName="tussenvoegsel">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Achternaam:
                <input class="form-control" [ngModel]="LastName" formControlName="achternaam">
            </label>
        </div>



        <div class="form-group">
            <label class="center-block">E-mail:
                <input class="form-control" [ngModel]="Email" formControlName="email">
            </label>
        </div>

        <div class="checkbox">
            <label class="center-block">
                <input type="checkbox" formControlName="sidekick">Ik beloof dat ik ook echt kom.
            </label>
        </div>
    </div>
</form>


<p>Form value: {{ reserveringForm.value | json }}</p>
</div>