

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">


    <mat-list dense>
      <mat-list-item *ngFor="let employee of employees"
                     (click)="onSelectEmployee(employee)">{{employee.EmployeeName}}
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <p><mat-checkbox [(ngModel)]="opened">&laquo; Kappers</mat-checkbox></p>

      <app-employeedetails [employee]="selectedEmployee"></app-employeedetails>

      <app-defaultworkingblocks *ngIf="selectedEmployee" [(employee)]="selectedEmployee"></app-defaultworkingblocks>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



