<!--The content below is only a placeholder and can be replaced.-->


<mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav #sidenav mode="side" class="mainNav" [(opened)]="opened" >

        <mat-list>

            <mat-list-item> <a routerLink="/agenda" routerLinkActive="active"><mat-icon>event</mat-icon> Agenda</a></mat-list-item>
                <mat-list-item> <a routerLink="/reserveren" routerLinkActive="active"><mat-icon class="mat-icon light">alarm_add</mat-icon> Reserveer</a></mat-list-item>
                    <mat-list-item> <a routerLink="/treatments" routerLinkActive="active">Behandelingen</a></mat-list-item>
                        <mat-list-item> <a routerLink="/products" routerLinkActive="active">Producten</a> </mat-list-item>
            <mat-list-item> <a routerLink="/employees" routerLinkActive="active">Kappers</a> </mat-list-item>
            <mat-list-item> <a routerLink="/workingblocks" routerLinkActive="active">Roosters</a> </mat-list-item>
            <mat-list-item> <a routerLink="/clients" routerLinkActive="active">Klanten</a> </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-button-toggle class="light" (click)="sidenav.toggle()"><mat-icon class="light"> menu </mat-icon></mat-button-toggle>
                <span class="apptitle">&nbsp;&nbsp;{{title}}</span>

                <!-- This fills the remaining space of the current row -->

                <a class="topnav" routerLink="/agenda" routerLinkActive="active"><mat-icon>event </mat-icon></a>
               <a class="topnav" routerLink="/reserveren" routerLinkActive="active"><mat-icon class="mat-icon light">alarm_add</mat-icon></a>
                <span class="fill-remaining-space"></span>
                <span><mat-icon class="icon">zoeken</mat-icon></span>
            </mat-toolbar-row>
        </mat-toolbar>


       <!-- <p><mat-checkbox [(ngModel)]="opened">&laquo; Menu</mat-checkbox></p>-->

       <!-- <p><button mat-button (click)="sidenav.toggle()">&laquo; Menu</button></p>-->

        <router-outlet></router-outlet>
        <app-messageservice></app-messageservice>
    </mat-sidenav-content>
</mat-sidenav-container>



