
    <div *ngIf="!employee">
        <p>Kies een kapster om deze te bewerken</p>
    </div>

    <mat-card *ngIf="employee" (onChange)="onSelectEmployee(employee)">
        <form [formGroup]="employeeForm" novalidate>

            <!-- <div class="form-group" >
               <label class="center-block">Welke behandeling?
                 <select class="form-control" formControlName="treatmentid"  (change)="getFreeSpaces($event.target.value)">
                   <option *ngFor="let state of Etreatments" [value]="state.TreatmentID">{{state.TreatmentName}}</option>
                 </select>
               </label>
             </div>

             <div class="form-group" >
               <label class="center-block">Wanneer wil je?
                 <select class="form-control" formControlName="reservationoptions" (change)="getClientData($event.target.value)">
                   <option *ngFor="let option of freespaces" [value]="option.datetime">{{option.ReservationDate  | date: 'dd MM'}} {{option.StartTime}} {{option.EmployeeName}}</option>
                 </select>
               </label>
               <spinner name="mySpinner" loadingImage="../../assets/mini-spinner.gif" width="32px">&nbsp;Getting options .....patience</spinner>
             </div>-->


            <!-- <div class="form-group radio">
                 <h4>Super power:</h4>
                 <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
                 <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
                 <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
             </div>
             >-->

            <mat-form-field>
                <input matInput placeholder="Voornaam" formControlName="employeename"
                       [(ngModel)]="employee.EmployeeName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" [(ngModel)]="employee.Email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefoon" formControlName="phone" [(ngModel)]="employee.Phone">
            </mat-form-field>

            <mat-form-field>

                <input matInput placeholder="Kleurcode" [(colorPicker)]="employee.colorCode"
                       [value]="employee.colorCode" [style.background]="employee.colorCode"/>
            </mat-form-field>
        </form>

    </mat-card>


