<div class="main-content">
  <!--<angular2-fullcalendar [options]="calendarOptions()" (initialized)="onCalendarInit($event)"></angular2-fullcalendar>-->

  <div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                     (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
  </div>

</div>

