<div *ngIf="!treatment">
        <p>Kies een behandeling om deze te bewerken</p>
    </div>

<mat-card *ngIf="treatment">

    <h3>{{treatment.TreatmentName}}</h3>

        <mat-form-field>
            <input matInput [(ngModel)]="treatment.TreatmentName">
        </mat-form-field>




    <mat-form-field>
        <input matInput [(ngModel)]="treatment.Costs">

    </mat-form-field>

        <mat-form-field>


            <input matInput [(ngModel)]="treatment.Tax">
        </mat-form-field>

    <mat-form-field>
            <mat-select [(value)]="treatment.Class" placeholder="Categorie">
                <mat-option value="Dames">Dames</mat-option>
                <mat-option value="Heren">Heren</mat-option>
                <mat-option value="Kids">Kids</mat-option>
                <mat-option value="Specials">Specials</mat-option>


            </mat-select>

    </mat-form-field>

    <mat-form-field>
        <mat-select [(value)]="treatment.Internet" placeholder="Internet">
            <mat-option value="Ja">Ja</mat-option>
            <mat-option value="Nee">Nee</mat-option>


        </mat-select>
    </mat-form-field>

    <div class="form-group">

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-warning"
                     dnd-sortable-container [sortableData]="this.products" [dropZones]="['source-dropZone']">
                    <div class="panel-heading">Beschikbare behandelingsproducten</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li *ngFor="let source of this.products; let x = index" class="list-group-item"
                                dnd-sortable [sortableIndex]="x" [dragEnabled]="true"
                                [dragData]="source">{{source.Duration}} {{source.ProductName}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info dnd-sortable-container" dnd-sortable-container [sortableData]="treatment.Products">
                    <div class="panel-heading">Behandelingsproducten in deze behandeling</div>
                    <div class="panel-body" dnd-droppable (onDropSuccess)="addTo($event)" [dropZones]="['source-dropZone']">
                        <ul class="list-group">
                            <li *ngFor="let target of treatment.Products; let x = index" class="list-group-item"
                                dnd-sortable [sortableIndex]="x"
                                >
                                {{target.Duration}} {{target.ProductName}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>






    </div>




        <!--<label class="left-block">
            <h3>Producten in deze behandeling</h3>{{treatment.ProductArray}}
            <div class="products" [sortablejs]="selectedTreatmentProducts" [sortablejsOptions]="options">
                <div *ngFor="let item of selectedTreatmentProducts">{{ item.ProductName }} - {{ item.Duration }}min
                </div>
            </div>
        </label>
        <hr>
        <br/>
        <label class="right-block">

            <h3>Beschikbare producten</h3>{{treatment.TreatmentID}}
        <div class="products" [sortablejs]="products" [sortablejsOptions]="options" >
            <div *ngFor="let item of products">{{ item.ProductName }} - {{ item.Duration }}min</div>
        </div>
        </label>-->





</mat-card>