/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900|Raleway:800|Roboto:200,400,900');

body {
  background: rgba(234, 235, 238, 0.2);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight : 200;
}

h1, h2, h3 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default {
  background: rgba(0, 158, 216, 1);
  border-color: #e7e7e7;
  color: azure;
}

a.topnav {
  color: azure;
  padding: 0 15px;
}
.mainNav {
  background: rgba(168, 206, 78, 1);
  font-family: 'Raleway', sans-serif;

}
.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  font-size: 16px;
}
.mainNav a {
  color: white;

}
a.active {
  text-decoration: underline;
}
.fc table, table, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border : 0;
}
.fc table tr {

}
.fc-minor {
  border: 0;
}
.fc-bootstrap3 hr.fc-divider {
  display: none;
}
.fc-nonbusiness {
  background: #ccc;
}
.fc-content,.fc-event {
  border-radius : 0;
  border:0;
  padding: 2px 6px;
}

body > app-root > mat-sidenav-container > mat-sidenav-content > app-agenda > div > div > ng-fullcalendar > div.fc-view-container > div > table > thead > tr > td > div > table > thead > tr > th.fc-axis {
  background: transparent !important;
}
.fc-ltr .fc-axis {
  background: #7ec9e5 !important;
}
.fc-time > span{
  font-weight: 600;
  color: #fff;
  font-size: 110%;

}
.light {
  color: #fff !important;
  fill: #fff !important;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-list-item-content {
  font-size: 15px;
  font-weight: 300;
}
mat-icon {
  font-family: 'Material Icons' !important;
  color: blue;
  margin-top: 6px;
}

.mat-icon {

  font-family: 'Material Icons' !important;
  color: currentColor;
}

.mat-drawer.mat-drawer-side {
  height: auto;
  height: 100%;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.main-content {
  min-height: 800px;
  height: 100%;
  margin-top: 25px;
  padding: 0 16px;
}
.search {
  padding : 10px;
}
.fc-event {
 /* height: 60px !important;*/
  border : 1px solid white;
}

