<mat-card *ngIf="client">


  <mat-list role="list" *ngFor="let history of client.ReservationHistory">
    <mat-list-item role="listitem">{{history.ReservationDate}}  - {{history.TreatmentName}}</mat-list-item>
  </mat-list>
</mat-card>

<mat-card *ngIf="!client">

<p>Kies een klant</p>

</mat-card>